<main class="min-h-[75vh]">
    <header class="bg-main-red w-full flex justify-between px-20 pb-20">
        <h1 class="text-3xl text-white font-bold font-quick-sand">Welcome back,Davi</h1>
        <button class=" border-gray-300 rounded-xl py-1 px-4 border 
            text-gray-300 font-bold font-open-sans text-sm
            hover:text-white hover:border-white transition ">
            Um botão
        </button>
    </header>
    <section class="px-20">
        <section class="grid grid-cols-3 gap-10 -mt-10">
            <app-home-card titulo="Orçamento" link="/orcamento" description="Crie novos orçamentos e tals"></app-home-card>
            <app-home-card titulo="Clientes" link="/clientes" description="Visualize seus clientes"></app-home-card>
            <app-home-card titulo="Fornecedores" link="/fornecedores" description="Visualize seus fornecedores"></app-home-card>
        </section>
        
    </section>
</main>